[submodule "Vendors/SwiftAutoLayout"]
	path = Vendors/SwiftAutoLayout
	url = git@github.com:indragiek/SwiftAutoLayout.git
[submodule "Vendors/SwiftyJSON"]
	path = Vendors/SwiftyJSON
	url = git@github.com:SwiftyJSON/SwiftyJSON.git
