[submodule "Vendors/SwiftAutoLayout"]
	path = Vendors/SwiftAutoLayout
	url = https://github.com/indragiek/SwiftAutoLayout.git
[submodule "Vendors/SwiftyJSON"]
	path = Vendors/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
