github "MengTo/Spring" "swift2"
github "aleclarson/emitter-kit"
github "Alamofire/Alamofire" ~> 3.3
github "kean/Nuke"
github "kean/Nuke-Alamofire-Plugin" # optional
github "kean/Nuke-AnimatedImage-Plugin" # optional
github "kean/Preheat"
github "kean/DFCache"
    