github "MengTo/Spring" "swift2"
github "aleclarson/emitter-kit"
github "Alamofire/Alamofire" "swift3"
github "kean/Nuke"
github "kean/Nuke-Alamofire-Plugin" # optional
github "kean/Nuke-AnimatedImage-Plugin" # optional
