<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C6A2ED11BDAA3C700765F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8D254E1BCC33730029A841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD205BE1BCC688800B88F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD205D11BCC693F00B88F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
